@font-face {
  font-family: "Vogue";
  src: url("../assets/fonts/Vogue.ttf");
}

@font-face {
  font-family: "Bodoni";
  src: url("../assets/fonts/BodoniFLF-Roman.ttf");
}

.frame-left {
  border: 4px solid #ffffff;
  width: 100%;
  height: 75%;
  position: absolute;
  top: -8%;
  left: -25%;
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
body,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  font-family: "Bodoni";
}

nav {
  background-color: #ffffff;
  width: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 1;
}

nav ul {
  font-size: 1.6rem;
  padding: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  text-transform: uppercase;
}

nav ul li {
  text-align: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

nav ul li:nth-child(2) {
  text-decoration: line-through;
}

nav ul li:nth-child(4) {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  font-size: 2rem;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

footer {
  width: 100vw;
  height: 4vw;
  position: fixed;
  bottom: 0%;
  background-color: #ffffff;
}

footer ul {
  font-size: 1.6rem;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  text-transform: uppercase;
}

footer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul li:nth-child(2) {
  font-size: 2rem;
  letter-spacing: 2px;
}

footer ul li a {
  color: black;
  text-decoration: none;
}

.dark-filter {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: black;
  opacity: 0.6;
}

#load-page {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

#load-page h1 {
  color: #ffffff;
  font-size: 7rem;
  font-family: "Vogue", sans-serif;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  font-weight: normal;
}

#load-page img {
  height: 90%;
}

#custom-nav {
  position: fixed;
  width: 95%;
  bottom: 5vw;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#custom-nav a {
  text-decoration: line-through;
  color: #ffffff;
}

#home-page {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#home-page main {
  width: 96vw;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home-page main h1 {
  color: #ffffff;
  font-size: 7rem;
  font-family: "Vogue", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  font-weight: normal;
  text-align: center;
  margin-top: 4vw;
}

#home-page main #presentation {
  margin-top: 4vw;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home-page main #presentation #presentation-img-box {
  width: 30%;
  position: relative;
}

#home-page main #presentation #presentation-img-box img {
  width: 100%;
}

#home-page main #presentation article {
  width: 60%;
  color: #ffffff;
}

#home-page main #presentation article h2 {
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
}

#home-page main #presentation article p {
  margin-top: 4vw;
  font-size: 1.5rem;
  position: relative;
  background-color: black;
  border: 10px solid black;
}

#home-page main #presentation article p span {
  border: 4px solid #ffffff;
  width: 100%;
  height: 85%;
  position: absolute;
  z-index: -1;
  bottom: -8%;
  left: -6%;
}

#home-page main h3 {
  color: #ffffff;
  margin-top: 8vw;
  font-size: 2rem;
  text-transform: uppercase;
  position: relative;
}

#home-page main h3 span {
  background-color: #ffffff;
  width: 222%;
  height: 1px;
  display: block;
  position: absolute;
  left: -200%;
  top: 50%;
}

#home-page main #img-box {
  width: 70%;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8vw 0;
}

#home-page main #img-box img {
  height: 100%;
}

#home-page main #img-box .img-box-child {
  position: relative;
}

#home-page main #img-box .img-box-child #frame-left {
  border: 4px solid #ffffff;
  width: 100%;
  height: 95%;
  position: absolute;
  top: -10%;
  left: -12%;
  z-index: -2;
}

#home-page main #img-box .img-box-child #frame-right {
  border: 4px solid #ffffff;
  width: 100%;
  height: 95%;
  position: absolute;
  bottom: -10%;
  right: -12%;
  z-index: -2;
}

#contact-page {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#contact-page main {
  width: 96vw;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact-page main h1 {
  color: #ffffff;
  font-size: 7rem;
  font-family: "Vogue", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  font-weight: normal;
  text-align: center;
  margin-top: 4vw;
}

#contact-page main #presentation {
  margin-top: 4vw;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact-page main #presentation #presentation-img-box {
  width: 30%;
  position: relative;
}

#contact-page main #presentation #presentation-img-box img {
  width: 100%;
}

#contact-page main #presentation article {
  width: 60%;
  color: #ffffff;
}

#contact-page main #presentation article h2 {
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
}

#contact-page main #presentation article p {
  margin-top: 4vw;
  font-size: 1.5rem;
  position: relative;
  background-color: black;
  border: 10px solid black;
}

#contact-page main #presentation article p span {
  border: 4px solid #ffffff;
  width: 100%;
  height: 85%;
  position: absolute;
  z-index: -1;
  top: -8%;
  left: -6%;
}

#contact-page main h3 {
  color: #ffffff;
  margin-top: 4vw;
  font-size: 2rem;
  text-transform: uppercase;
  position: relative;
  width: 70%;
  text-align: right;
}

#contact-page main h3 span {
  background-color: #ffffff;
  width: 294%;
  height: 1px;
  display: block;
  position: absolute;
  left: -200%;
  top: 50%;
}

#contact-page main form {
  margin-top: 4vw;
  margin-bottom: 8vw;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact-page main form #infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 4vw;
}

#contact-page main form #infos .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

#contact-page main form #infos .input-box label {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 1vh;
  text-transform: uppercase;
}

#contact-page main form #infos .input-box input {
  border: none;
  border-bottom: 2px solid #ffffff;
  background-color: transparent;
  width: 100%;
}

#contact-page main form label {
  color: #ffffff;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#contact-page main form textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ffffff;
  background-color: transparent;
  caret-color: #ffffff;
}

#contact-page main form button {
  color: #ffffff;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Bodoni';
  margin-top: 2vw;
}

#cv-page {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#cv-page main {
  width: 96vw;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cv-page main h1 {
  color: #ffffff;
  font-size: 7rem;
  font-family: "Vogue", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  font-weight: normal;
  text-align: center;
  margin-top: 4vw;
}

#cv-page main #cv {
  margin-top: 4vw;
  margin-bottom: 8vw;
  width: 50%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#cv-page main #cv video {
  width: 50%;
}

#cv-page main #cv div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#cv-page main #cv div h2 {
  text-transform: uppercase;
  font-family: "Vogue", sans-serif;
  font-size: 1.5rem;
  text-decoration: line-through;
}

#cv-page main #cv div a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 2vw;
}

#namana-page {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#namana-page main {
  width: 96vw;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#namana-page main h1 {
  color: #ffffff;
  font-size: 7rem;
  font-family: "Vogue", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  font-weight: normal;
  text-align: center;
  margin-top: 4vw;
}

#namana-page main #namana {
  color: #ffffff;
  margin-top: 2vw;
  margin-bottom: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 50vh;
}

#namana-page main #namana div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
  width: 30%;
}

#namana-page main #namana div:first-child h2 {
  font-family: "Vogue", sans-serif;
  font-weight: normal;
  text-decoration: line-through;
}

#namana-page main #namana div:first-child p {
  font-size: 1.5rem;
  margin-top: 2vw;
}

#namana-page main #namana div:first-child p span {
  text-transform: uppercase;
}

#namana-page main #namana div:first-child img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#namana-page main #namana div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

#namana-page main #namana div:last-child img {
  width: 48%;
}

#photoshop-page {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#photoshop-page main {
  width: 96vw;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#photoshop-page main h1 {
  color: #ffffff;
  font-size: 7rem;
  font-family: "Vogue", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  font-weight: normal;
  text-align: center;
  margin-top: 4vw;
}

#photoshop-page main #photoshop {
  color: #ffffff;
  margin-top: 2vw;
  margin-bottom: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  height: 50vh;
}

#photoshop-page main #photoshop div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  position: relative;
  width: 30%;
}

#photoshop-page main #photoshop div:first-child h2 {
  font-family: "Vogue", sans-serif;
  font-weight: normal;
  text-decoration: line-through;
  position: absolute;
  top: 0;
}

#photoshop-page main #photoshop div:first-child p {
  font-size: 1.5rem;
  margin-top: 2vw;
}

#photoshop-page main #photoshop div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
}

#photoshop-page main #photoshop div:last-child img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#workshopMely-page {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#workshopMely-page main {
  width: 96vw;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#workshopMely-page main h1 {
  color: #ffffff;
  font-size: 7rem;
  font-family: "Vogue", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  font-weight: normal;
  text-align: center;
  margin-top: 4vw;
}

#workshopMely-page main #workshopMely {
  color: #ffffff;
  margin-top: 2vw;
  margin-bottom: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

#workshopMely-page main #workshopMely h2 {
  font-family: "Vogue", sans-serif;
  font-weight: normal;
  text-decoration: line-through;
}

#workshopMely-page main #workshopMely p {
  font-size: 1.5rem;
}

#workshopMely-page main #workshopMely img {
  margin-top: 2vw;
}

#workshopMely-page main #workshopMely div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2vw;
}

#workshopMely-page main #workshopMely div video {
  width: 25%;
}

#workshopMely-page main #workshopMely div img {
  width: 70%;
  height: 100%;
  margin: 0;
}

#workshopNewsletter-page {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#workshopNewsletter-page main {
  width: 96vw;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#workshopNewsletter-page main h1 {
  color: #ffffff;
  font-size: 7rem;
  font-family: "Vogue", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  font-weight: normal;
  text-align: center;
  margin-top: 4vw;
}

#workshopNewsletter-page main #workshopNewsletter {
  color: #ffffff;
  margin-top: 2vw;
  margin-bottom: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

#workshopNewsletter-page main #workshopNewsletter h2 {
  font-family: "Vogue", sans-serif;
  font-weight: normal;
  text-decoration: line-through;
}

#workshopNewsletter-page main #workshopNewsletter p {
  font-size: 1.5rem;
}

#workshopNewsletter-page main #workshopNewsletter img {
  margin-top: 2vw;
}

#workshopNewsletter-page main #workshopNewsletter img:last-child {
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#processCreatif-page {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#processCreatif-page main {
  width: 96vw;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#processCreatif-page main h1 {
  color: #ffffff;
  font-size: 7rem;
  font-family: "Vogue", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  font-weight: normal;
  text-align: center;
  margin-top: 4vw;
}

#processCreatif-page main #processCreatif {
  color: #ffffff;
  margin-top: 2vw;
  margin-bottom: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

#processCreatif-page main #processCreatif h2 {
  font-family: "Vogue", sans-serif;
  font-weight: normal;
  text-decoration: line-through;
}

#processCreatif-page main #processCreatif p {
  font-size: 1.5rem;
}

#processCreatif-page main #processCreatif img {
  margin-top: 2vw;
}

#processCreatif-page main #processCreatif img:last-child {
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#processCreatif-page main #processCreatif #imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#processCreatif-page main #processCreatif #imgBox #logo {
  width: 40%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0;
}

#processCreatif-page main #processCreatif #imgBox div {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#processCreatif-page main #processCreatif #imgBox div img {
  width: 100%;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */