@font-face {
  font-family: "Vogue";
  src: url("../assets/fonts/Vogue.ttf");
}

@font-face {
  font-family: "Bodoni";
  src: url("../assets/fonts/BodoniFLF-Roman.ttf");
}

.frame-left {
  border: 4px solid #ffffff;
  width: 100%;
  height: 75%;
  position: absolute;
  top: -8%;
  left: -25%;
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
body,
input,
textarea,
button,
video {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  font-family: "Bodoni";
  color: #ffffff;
}

nav {
  background-color: #ffffff;
  width: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 1;
}

nav ul {
  font-size: 1.6rem;
  padding: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  text-transform: uppercase;
}

nav ul li {
  text-align: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  color: black;
}

nav ul li:nth-child(2) {
  text-decoration: line-through;
}

nav ul li:nth-child(4) {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  font-size: 2rem;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

main {
  width: 96vw;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h1 {
  color: #ffffff;
  font-size: 7rem;
  font-family: "Vogue", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  font-weight: normal;
  text-align: center;
  margin-top: 4vw;
}

footer {
  width: 100vw;
  height: 4vw;
  position: fixed;
  bottom: 0%;
  color: black;
  background-color: #ffffff;
}

footer ul {
  font-size: 1.6rem;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  text-transform: uppercase;
}

footer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul li:nth-child(2) {
  font-size: 2rem;
  letter-spacing: 2px;
}

footer ul li a {
  color: black;
  text-decoration: none;
}

.dark-filter {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: black;
  opacity: 0.6;
}

#load-page {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

#load-page h1 {
  color: #ffffff;
  font-size: 7rem;
  font-family: "Vogue", sans-serif;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  font-weight: normal;
}

#load-page img {
  height: 90%;
}

#home-page #presentation {
  margin-top: 4vw;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home-page #presentation #presentation-img-box {
  width: 30%;
  position: relative;
}

#home-page #presentation #presentation-img-box img {
  width: 100%;
}

#home-page #presentation article {
  width: 60%;
}

#home-page #presentation article h2 {
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
}

#home-page #presentation article p {
  margin-top: 4vw;
  font-size: 1.5rem;
  position: relative;
  background-color: black;
  border: 10px solid black;
}

#home-page #presentation article p span {
  border: 4px solid #ffffff;
  width: 100%;
  height: 85%;
  position: absolute;
  z-index: -1;
  bottom: -8%;
  left: -6%;
}

#home-page #presentation h3 {
  margin-top: 8vw;
  font-size: 2rem;
  text-transform: uppercase;
  position: relative;
}

#home-page #presentation h3 span {
  background-color: #ffffff;
  width: 222%;
  height: 1px;
  display: block;
  position: absolute;
  left: -200%;
  top: 50%;
}

#home-page #presentation #img-box {
  width: 70%;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8vw 0;
}

#home-page #presentation #img-box img {
  height: 100%;
}

#home-page #presentation #img-box .img-box-child {
  position: relative;
}

#home-page #presentation #img-box .img-box-child #frame-left {
  border: 4px solid #ffffff;
  width: 100%;
  height: 95%;
  position: absolute;
  top: -10%;
  left: -12%;
  z-index: -2;
}

#home-page #presentation #img-box .img-box-child #frame-right {
  border: 4px solid #ffffff;
  width: 100%;
  height: 95%;
  position: absolute;
  bottom: -10%;
  right: -12%;
  z-index: -2;
}

#contact-page #presentation {
  margin-top: 4vw;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact-page #presentation #presentation-img-box {
  width: 30%;
  position: relative;
}

#contact-page #presentation #presentation-img-box img {
  width: 100%;
}

#contact-page #presentation article {
  width: 60%;
}

#contact-page #presentation article h2 {
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
}

#contact-page #presentation article p {
  margin-top: 4vw;
  font-size: 1.5rem;
  position: relative;
  background-color: black;
  border: 10px solid black;
}

#contact-page #presentation article p span {
  border: 4px solid #ffffff;
  width: 100%;
  height: 85%;
  position: absolute;
  z-index: -1;
  top: -8%;
  left: -6%;
}

#contact-page section + h3 {
  margin-top: 4vw;
  font-size: 2rem;
  text-transform: uppercase;
  position: relative;
  width: 70%;
  text-align: right;
}

#contact-page section + h3 span {
  background-color: #ffffff;
  width: 294%;
  height: 1px;
  display: block;
  position: absolute;
  left: -200%;
  top: 50%;
}

#contact-page form {
  margin-top: 4vw;
  margin-bottom: 8vw;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact-page form #infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 4vw;
}

#contact-page form #infos .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

#contact-page form #infos .input-box label {
  font-size: 1.5rem;
  margin-bottom: 1vh;
  text-transform: uppercase;
}

#contact-page form #infos .input-box input {
  border: none;
  border-bottom: 2px solid #ffffff;
  background-color: transparent;
  width: 100%;
}

#contact-page form label {
  font-size: 1.5rem;
  text-transform: uppercase;
}

#contact-page form textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ffffff;
  background-color: transparent;
  caret-color: #ffffff;
}

#contact-page form button {
  color: #ffffff;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Bodoni';
  margin-top: 2vw;
}

#cv-page #cv {
  margin-top: 4vw;
  margin-bottom: 8vw;
  width: 50%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#cv-page #cv video {
  width: 50%;
}

#cv-page #cv div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#cv-page #cv div h2 {
  text-transform: uppercase;
  font-family: "Vogue", sans-serif;
  font-size: 1.5rem;
  text-decoration: line-through;
}

#cv-page #cv div a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 2vw;
}
/*# sourceMappingURL=style.css.map */